<span style="text-align: center">Profile</span>
<br />
Username: {{Username}}
Money: {{Money}}
<br />
Purple Advertisements: {{PurpleAds}}
<br />
Orange Advertisements: {{OrangeAds}}
<br />
Ad Prize: {{AdPrize}}
<br />
Your advertisement clicks reset at: {{resetAdvTime}}
<br />
Current server time: {{currentServerTime}}
<br />
Current advertisement: {{currentAdvertisement}}